@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    height: 4px;
  }

  .scrollbar-dropdown::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
  }
}

@layer components {
  .search_form {
    @apply relative h-[52px] w-[295px] mx-auto
      md:w-[362px] 
      xl:w-[510px] xl:h-[70px];
  }

  .search_form_input {
    @apply bg-white dark:bg-accentHalfDark font-main w-full h-full px-6 pl-8 pr-[115px] rounded-tl-[24px] rounded-br-[24px] rounded-bl-[44px] rounded-tr-[44px] text-secondaryText dark:text-whiteText focus:outline-4  focus:outline-secondaryText border-2 border-inputBorder
      md:text-[16px] xl:pl-12
      hover:border-2 hover:border-secondaryText dark:hover:border-whiteText transition;
  }

  .search_form_btn {
    @apply absolute right-0 top-0 h-full flex justify-center items-center border-[0];
  }
}

html {
  height: 100vh;
}

body {
  @apply bg-whiteText dark:bg-accentDarker;
}
